/* main colors: #CDD183 #FFEA97 #FFD595 #FFBD98 #FFA29D
title font: 'Bebas Neue', cursive */

body{
  color: grey;
}
input{
  border: 0px;
  outline: none;
  margin: 1px 1px 2px 2px;
}
a{
  color: inherit;
  text-decoration: none;
}

.titlewrapper{
  /* includes title text and login & signup buttons */
  text-align: center;
}
.headertitle{
  /* page top, title text */
  font-family: 'Bebas Neue', cursive;
  display: block;
  text-align: center;
  margin: 2rem;
  margin-top: 1.3rem;
  color: #CDD183;
  font-size: 3rem;
}
.headerlogin{
  float: right;
  margin: 3px 4px 0 0;
}
.loginbutton{
  font-family: 'Bebas Neue';
  margin-right: 2px;
  background-color: inherit;
  border: #CDD183 1px solid;
  border-radius: 8px;
  color: #CDD183;
  font-size: 0.9rem;
  padding: 3px 5px 3px 5px;
}

.headersearch{
  /* search div in the header, including search box and button */
  text-align: center;
}
.headersearchform{
  /* includes search box and button */
  width: 40%;
  display: inline-block;
  text-align: center;
  border: #FFEA97 2px solid;
  border-radius: 15px;
  padding:2px 2px 2px 2px;
}
.searchinput{
  width: 80%;
  font-size: 2rem;
  color: grey;
}
.searchbutton{
  border: 0px;
  background-color: inherit;
  color: #FFD595;
}

.wrapper{
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 30px 40px 10px 40px;
}
.category{
  /* need to implement: if the width changes, category becomes into horizontal form */
  /* by: @media (min-width: 700px){} */
  grid-column: 1/2;
  min-width: 80px;
  height: 600px;
  overflow-y: auto;
  margin-right: 20px;
  border: #FFEA97 2px solid;
  padding: 20px 10px 20px 10px;
}
.categorylist li{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  list-style: none;
  padding: 5px 2px 5px 2px;
}
/* 클릭시 하위메뉴 노출 유지: script */
.categorylist li:hover{
  background-color: #FFEA97;
  color: black;
  font-style: italic;
}
.categorylist li ol,
.categorylist li ol li{
  display: none;
  list-style: none;
  text-align: center;
  background-color: #FFFFFF;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
.categorylist li:hover ol,
.categorylist li:hover ol li{
  display: block;
}

.contents{
  grid-column: 2/3;
  display: inline;
  min-width: 750px;
  overflow-y: scroll;
  border: #FFEA97 2px solid;
}
.itemwrap{
  float:left;
  text-align: center;
  width: 250px;
  margin: 20px 10px 20px 20px;
  padding: 10px;
  border: #000000 1px solid;
}
.itemthumb img{
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.itemwrap span{
  display: inline;
}

.itempic img{
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: 20px;
  display: inline;
  float: left;
}
.itemdetail{
  display: inline;
  width: auto;
  overflow-y: scroll;
  margin: 20px 50px 20px 0;
}
.itemdetail .group{
  margin: 50px 20px 40px 20px;
  width: inherit;
}
.groupname{
  text-align: left;
  font-size: 0.9rem;
}
.groupdetail{
  text-align: right;
  font-size: 1.2rem;
}
.itemcomment{
  display: block;
  margin: 20px;
  text-align: center;
}
.itemcommenttext{
  margin: 20px;
}
.commentlist{

}

/* Scroll style */
::-webkit-scrollbar {
  width: 5px;  /* 세로축 스크롤바 길이 */
}
::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}
::-webkit-scrollbar-track-piece {
  background-color: #FFFFFF;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #FFEA97;
}
::-webkit-scrollbar-button {
  background-color: #FFEA97;
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-button:start {
  background-color: #ffffff; /* Top, Left 방향의 이동버튼 */
}
::-webkit-scrollbar-button:end {
  background-color: #ffffff; /* Bottom, Right 방향의 이동버튼 */
}
::-webkit-scrollbar-corner {
  background-color: #FFEA97; /* 우측 하단의 코너 부분 */
}
::-webkit-resizer {
  background-color: #FFEA97;
}
/* 추가할 것: 컨테이너 폭에 따른 반응형 디자인, 컨텐츠 구성, 상품 페이지, 상품 등록 페이지 */
